name: Release

on:
  push:
    branches:
      - master

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c #v6.1.0
        with:
          go-version: '1.25.5'
          go-version-file: go.mod
          cache: true

      - name: Install govulncheck
        run: go install golang.org/x/vuln/cmd/govulncheck@latest

      - name: Verify
        run: make verify-ci

      - name: Lint
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 #v9.2.0

#      - name: Semantic Release
#        uses: go-semantic-release/action@2e9dc4247a6004f8377781bef4cb9dad273a741f #v1.24.1
#        id: semantic
#        with:
#          hooks: goreleaser
#          allow-initial-development-versions: true
#        env:
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#
#      - name: Release info
#        if: steps.semantic.outputs.version != ''
#        run: |
#          echo "Released version: ${{ steps.semantic.outputs.version }}"
#          echo "Release URL: https://github.com/${{ github.repository }}/releases/tag/v${{ steps.semantic.outputs.version }}"
